.contenedor{
  margin-top: 30px;
  margin-left: 45%;
}

.nombre:first-letter {
  text-transform: uppercase;
}

.btn-pokemon{
  border: none;
  color: white;
  cursor:pointer;
  border-radius: 3px;
  transition-duration: 0.3s;
  padding: 5px 20px 5px 20px;
  background-color: #5c5c5c;
}

.btn-pokemon:hover {
  color: #5c5c5c;
  border: 1px solid #5c5c5c;
  background-color: white;
}